<body>
    <header>
        <div class="barra">
            <img src='../assets/images/imagen.jpg' width='40' height='40'>
            <h1>{{title}}</h1>
            
            <div class="search">
                <input type="text" placeholder="Filrar por raza">
                <button class="boton" type="button">Buscar</button>
            </div>
            <button type="button" class="boton">Autentificar</button>
        </div>
    </header>
    <app-search></app-search>
    <app-gallery></app-gallery>
</body>


