<div>
    <button type="button" (click)="Mostrar_form()">Agregar un Perro</button>
    <button type="button" (click)="Mostrar_list()">Listado de perros adoptados</button>
</div>

<div *ngIf="formadd">
    
</div>

<div *ngIf="listuser">
    <ul>
        <li *ngFor="let dog of dogasl">
            <div>
                <figure>
                    <img [src]="dog.picture">
                </figure>
                <div>
                    <h2>{{dog.name}}</h2>
                    <p>{{dog.details}}</p>
                </div>
                <div>
                    <h4>Humano: {{dog.name_human}} Numero: {{dog.number}}</h4>
                </div>
            </div>
        </li>
    </ul>
</div>