<div>
    <button type="button" (click)="Mostrar_form()">Agregar un Perro</button>
    <button type="button" (click)="Mostrar_list()">Listado de perros adoptados</button>
</div>

<div *ngIf="formadd">
    <div>
        <label for="name">Nombre: </label>
        <input [(ngModel)]="name" id="name" type="text">
        <label for="details">Detalles: </label>
        <input [(ngModel)]="details" id="details" type="text">
        <label for="raza">Raza: </label>
        <input [(ngModel)]="raza" id="raza" type="text">
        <label for="picture">Foto: </label>
        <input [(ngModel)]="picture" id="picture" type="text">
    </div>
    <button type="button" (click)="AddDog()">Agregar</button>
</div>

<div *ngIf="listuser">
    <ul>
        <li *ngFor="let dog of dogasl">
            <div>
                <figure>
                    <img [src]="dog.picture">
                </figure>
                <div>
                    <h2>{{dog.name}}</h2>
                    <p>{{dog.details}}</p>
                </div>
                <div>
                    <h4>Humano: {{dog.name_human}} Numero: {{dog.number}}</h4>
                </div>
            </div>
        </li>
    </ul>
</div>